:root {
  --greyish: rgb(173, 158, 149);
  --brownish: rgb(70, 57, 47);
  --light-mud: rgb(156, 110, 76);
  --thick-mud: rgb(127, 68, 28);
  --black: rgb(29, 33, 41);
}

.Signup__container {
  width: 60%;
  max-width: 500px;
  min-height: 75vh;
  height: 60%;
  padding: 20px;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75);
}

.Signup__heading {
  text-align: center;
  color: var(--black);
}

.Signup__form > label {
  font-size: 1.1rem;
  font-weight: bold;
}

.Signup__form {
  margin: 10px;
}

.Signup__form > input {
  width: 100%;
  padding: 12px 20px;
  margin-top: 5px;
  margin-bottom: 8px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.Signup__form > p {
  margin-top: 10px;
}

.Signup__button {
  margin-top: 20px;
  background-color: var(--light-mud);
  color: white;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 1.3rem;
}
