.Chat {
  display: flex;
  flex-direction: column;
  flex: 0.65;
}

.Chat__header {
  padding: 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgrey;
}

.Chat__headerInfo {
  flex: 1;
  padding-left: 20px;
}

.Chat__headerInfo > h3 {
  margin-bottom: 3px;
  font-weight: 500;
}

.Chat__headerInfo > p {
  color: gray;
}

.Chat__body {
  flex: 1;
  background-image: url("../../assets/background.png");
  background-repeat: repeat;
  background-position: center;
  padding: 30px;
  overflow: scroll;
}

.Chat__message {
  position: relative;
  font-size: 16px;
  padding: 10px;
  width: fit-content;
  border-radius: 10px;
  background-color: #ffffff;
  margin-bottom: 30px;
}

.Chat__receiver {
  margin-left: auto;
  background-color: #dcf8c6;
}

.Chat__timestamp {
  margin-left: 10px;
  font-size: xx-small;
}

.Chat__name {
  position: absolute;
  top: -15px;
  font-weight: 800;
  font-size: xx-small;
}

.Chat__footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
  border-top: 1px solid lightgrey;
}

.Chat__footer > form {
  flex: 1;
  display: flex;
}

.Chat__footer > form > input {
  flex: 1;
  border-radius: 30px;
  padding: 10px;
  border: none;
}

.Chat__footer > form > input:focus {
    outline: none;
  }

.Chat__footer > form > button {
  display: none;
}

.Chat__footer > .MuiIcon {
  padding: 10px;
  color: gray;
}

